<div class="container my-2">
  <div class="form-body w-100">
    <div class="row">
      <div class="form-holder">
        <div class="form-content">
          <div class="form-items">
            <h3 class="text-center">Sign Up</h3>
            <p class="text-center">Fill in the data below.</p>
            <form
              class=""
              [formGroup]="registerForm"
              (ngSubmit)="registerSender()"
            >
              <div class="col-md-12">
                <input
                  class="form-control"
                  type="text"
                  name="name"
                  placeholder="Username"
                  required
                  formControlName="username"
                />
                @if (registerForm.controls['username'].valid) {

                <div class="text-success">Username field is valid!</div>
                } @if (registerForm.controls['username'].invalid &&
                registerForm.controls['username'].touched) {
                <div class="text-danger">Username field cannot be blank!</div>
                }
              </div>

              <div class="col-md-12">
                <input
                  class="form-control"
                  type="email"
                  name="email"
                  placeholder="E-mail Address"
                  formControlName="email"
                  required
                />
                @if (registerForm.controls['email'].valid) {
                <div class="text-success">Email field is valid!</div>
                } @if (registerForm.controls['email'].invalid &&
                registerForm.controls['email'].touched) {
                <div class="text-danger">Email field cannot be blank!</div>
                }
              </div>
              <div class="col-md-12">
                <input
                  class="form-control"
                  type="text"
                  name="address"
                  placeholder="Address"
                  required
                  formControlName="address"
                />
                @if (registerForm.controls['address'].valid) {

                <div class="text-success">Address field is valid!</div>
                } @if (registerForm.controls['address'].invalid &&
                registerForm.controls['address'].touched) {
                <div class="text-danger">address field cannot be blank!</div>
                }
              </div>
              <div class="col-md-12">
                <input
                  class="form-control"
                  type="text"
                  name="street"
                  placeholder="Street"
                  required
                  formControlName="street"
                />
                @if (registerForm.controls['street'].valid) {

                <div class="text-success">Username field is valid!</div>
                } @if (registerForm.controls['street'].invalid &&
                registerForm.controls['street'].touched) {
                <div class="text-danger">Sreet field cannot be blank!</div>
                }
              </div>
              <div class="col-md-12">
                <input
                  class="form-control"
                  type="text"
                  name="country"
                  placeholder="Country"
                  required
                  formControlName="country"
                />
                @if (registerForm.controls['country'].valid) {

                <div class="text-success">country field is valid!</div>
                } @if (registerForm.controls['country'].invalid &&
                registerForm.controls['country'].touched) {
                <div class="text-danger">country field cannot be blank!</div>
                }
              </div>
              <div class="col-md-12">
                <input
                  class="form-control"
                  type="text"
                  name="city"
                  placeholder="city"
                  required
                  formControlName="city"
                />
                @if (registerForm.controls['city'].valid) {

                <div class="text-success">city field is valid!</div>
                } @if (registerForm.controls['city'].invalid &&
                registerForm.controls['city'].touched) {
                <div class="text-danger">city field cannot be blank!</div>
                }
              </div>
              <div class="col-md-12">
                <input
                  class="form-control"
                  type="password"
                  name="password"
                  placeholder="Password"
                  formControlName="password"
                />
                @if (registerForm.controls['password'].valid) {
                <div class="text-success">Password field is valid!</div>
                }@if (registerForm.controls['password'].invalid &&
                registerForm.controls['password'].touched) {
                <div class="text-danger">Password field cannot be blank!</div>
                }
              </div>
              <div class="col-md-12">
                <input
                  class="form-control"
                  type="password"
                  name="matchpassword"
                  placeholder="Matched Password"
                  formControlName="matchpassword"
                />
                @if (registerForm.controls['matchpassword'].valid &&
                matchPassword) {
                <div class="text-success">Password field is valid!</div>
                }@if (matchPassword === false &&
                registerForm.controls['matchpassword'].touched ) {
                <div class="text-danger">Password not match</div>
                } @if (registerForm.controls['matchpassword'].invalid &&
                registerForm.controls['matchpassword'].touched) {
                <div class="text-danger">Match Password is not valid</div>
                }
              </div>
              <div class="form-button mt-3 d-flex justify-content-center">
                <button id="submit" type="submit" class="btn btn-primary w-25">
                  Register
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
